<div class="main-header">
  <div class="left-header">
    <div class="room-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="destroy-room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
<%= render partial: 'message', collection: @messages %>
</div>
<%# <div class="form"> %>
<%= form_with model: [@room, @message],class: 'form', local: true do |f| %>
  <div class="form-content">
      <%= f.text_field :content, class: 'input-text', placeholder: 'type a message' %>
      <%# <input type="text" placeholder="type a message" class="input-text"> %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
        <%# <input type="file" class="hidden"> %>
      </label>
  </div>
  <%= f.submit '送信', class: 'submit-btn' %>
  <%# <input type="submit" value="送信" class="submit-btn"> %>
<% end %>
<%# </div> %>